h6 {
    color: darkgoldenrod;
}
h3{
    color:#343A40;
    font-weight: bolder;
}
h5{
    color: #FBB240;
}

.p1{
    padding: 20px;
}
.content1{
    background-color: rgba(226, 185, 172, 0.2);
    padding: 3px;
    border-radius: 10px;
}
.alertaTom{
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: rgba(245, 12, 12, 0.6);
}