.nomes{
    margin-left: 10px;
    letter-spacing: 2px;
    background-color: rgba(255, 136, 0, 0.5);
    padding: 7px;
    color: rgb(53, 48, 48);
    border-radius: 5px;
}
#spiner{
    color:red;
 ;
}
