
ion-title{
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Amatic SC', cursive;
    color:rgb(228, 24, 24)
}
.divMaster{
    text-align: center;
    margin-top: 30px;
   
}
.div1{
    padding: 10px;
    background-color: rgba(230, 103, 86, 0.2);
    text-align: center;
    font-family: 'Pangolin', cursive;
}
a{
    color: #D53D0C
}
h4{
    font-family: 'Amatic SC', cursive; 
    font-weight: bold;
    font-size: 30px;
}

.div2{
    padding: 10px;
    background-color: rgba(230, 103, 86, 0.979);
    text-align: center;
    font-family: 'Pangolin', cursive;
    color: white;
}
.div2 a {
   background-color: white;
   color: red;
   text-decoration: none;
   padding: 2px;
   border-radius: 5px;
}
.div2 p{
    color: rgba(247, 244, 244, 0.836)
}