.marg{
    color:white;
    background-color: rgba(243, 138, 19, 0.5);
    padding: 5px;
    letter-spacing: 1.6px;
}
.badgee{
    float: right;
}
a{
        text-decoration: none;    
        font-size: 17px;   
        font-weight: bold;
        background-color:  rgba(230, 204, 93, 0.5);
        color: #D53D0C;
        font-family: 'Baloo Bhaina 2', cursive;       
    
}

strong{
    font-weight: bolder;
    color: #f00;
}

ion-title{ padding: 10px;
    font-weight: bold;
    font-family: 'Amatic SC', cursive; 
    color: #D53D0C;
    background-color: rgba(236, 236, 234, 0.5);
    letter-spacing: 1.7;
}